body{
    padding-right: 20px;
    padding-left: 20px;
    /* min-height: 100vh; */
    background-image: url(./../images/moon-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
/* .clock::before{
    content: "";
    width: 180px;
    height: 180px;

} */

.text-shadow{
    color: #677290;
    text-shadow: 2.5px 2.5px 0px rgb(205, 211, 213);
}